body{
    height: 100vh;
    background: url("../img/poZGVu.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large-title{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
}
.solar-system{
    position: relative;
}


#comets{
  position:absolute;
  top:-150px;
  width:100vw;
  text-align: left; 
  height: 100%; 
  min-height: 900px;
  overflow:hidden;
}

#comets i {
  display: inline-block;
  width: 250px;
  height: 150px;position:absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: #fff;
  opacity: .7;
  animation: falling 10s 0s infinite;
  animation-timing-function:ease-in;
}


#comets i:nth-child(1){
  left: 50vw;
  height:73px; 
  width:3px;
  background-color: #fff;
}
#comets i:nth-child(3){
  height:11px; 
  width:3px;
    animation: falling3 8s 3s infinite;
  left: 10vw;
background-color: #fff;
}
#comets i:nth-child(2){
  animation: falling2 6s 1s infinite;
  left: 30vw;
  height:70px; 
  width:4px;
  background-color: #fff;

}




@keyframes falling {

  0% {
    transform: translate3d(100px,0px,0px) rotate(160deg);
  }

  3% {
    transform:
    translate3d(450px,900px,0) rotate(160deg);
    opacity: 0;
  }
  100% {
    transform:
    translate3d(450px,900px,0) rotate(160deg);
    opacity: 0;
  }
}

@keyframes falling3 {
 0% {
  transform: translate3d(0,0,0) rotate(150deg);
}

10% {
  transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}

100% {
  transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}
}

@keyframes falling2 {
 0% {
  transform:translate3d(100px,0,0) rotate(130deg);
}

15% {
  transform:translate3d(800px,580px,0) rotate(130deg);
  opacity: 0;
}

100% {
  transform: translate3d(800px,680px,0) rotate(180deg);
  opacity: 0;
}
}
.sun{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
    background-color: #f1da36;
    background: url("../img/sun.png") no-repeat center;
    background-size: 125%;
    box-shadow: 0 0 120px #f1da36, 0 0 60px #f2ad00, 0 0 10px #c96800, 0 0 200px #feff8f;
    animation: rotate 10s linear infinite;
}
.ring{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px dashed #828282;
    position: absolute;
    top: -50px;
    left: -50px;
    transform: translate(-50%, -50%);
    animation: rotate 2s linear infinite;
}
.ring1 .murcury {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 23%;
    border-radius: 50%;
    background-color: #B7B8B9;
    background: url("../img/murcury.png") no-repeat center;
    background-size: 125%;
    box-shadow: 1px 1px 30px 5px #B7B8B9;
    animation: rotate 1s linear infinite;
}
.ring2{
    width: 300px;
    height: 300px;
    top: -100px;
    left: -100px;
    animation: rotate 4s linear infinite;
}
.ring2 .venus {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25%;
    border-radius: 50%;
    background-color: #F9B23C;
    background: url("../img/venus.png") no-repeat center;
    background-size: 125%;
    box-shadow: 1px 1px 30px 5px #F9B23C;
    animation: rotate 2s linear infinite;
}
.ring3{
    width: 400px;
    height: 400px;
    top: -150px;
    left: -150px;
    animation: rotate 8s linear infinite;
}
.ring3 .earth{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 23%;
    border-radius: 50%;
    background-color: #0D8AF0;
    background: url("../img/earth.png") no-repeat center;
    background-size: 125%;
    box-shadow: 0px 1px 30px 1px #0D8AF0;
    animation: rotate 4s linear infinite;
}
.ring4{
    width: 550px;
    height: 550px;
    top: -225px;
    left: -225px;
    animation: rotate 10s linear infinite;
}
.ring4 .mars{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 25%;
    border-radius: 50%;
    background-color: #D32F2F;
    background: url("../img/mars.png") no-repeat center;
    background-size: 125%;
    box-shadow: 0px 1px 30px 1px #D32F2F;
    animation: rotate 6s linear infinite;
}
.ring5{
    width: 700px;
    height: 700px;
    top: -300px;
    left: -300px;
    animation: rotate 12s linear infinite;
}
.ring5 .jupiter{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 23%;
    border-radius: 50%;
    background-color: #F3E3C6;
    background: url("../img/jupiter.png") no-repeat center;
    background-size: 125%;
    box-shadow: 0px 1px 30px 1px #F3E3C6;
    animation: rotate 16s linear infinite;
}
.ring6{
    width: 850px;
    height: 850px;
    top: -375px;
    left: -375px;
    animation: rotate 14s linear infinite;
}
.ring6 .saturn{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 28%;
    border-radius: 50%;
    background-color: #DFB275;
    background: url("../img/saturn.png") no-repeat center;
    background-size: 125%;
}
.ring7{
    width: 1000px;
    height: 1000px;
    top: -450px;
    left: -450px;
    animation: rotate 16s linear infinite;
}
.ring7 .uranus{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30%;    
    border-radius: 50%;
    background-color: #5BABB8;
    background: url("../img/uranus.png") no-repeat center;
    background-size: 125%;
    animation: rotate 4s linear infinite;
}
.ring8{
    width: 1150px;
    height: 1150px;
    top: -525px;
    left: -525px;
    animation: rotate 18s linear infinite;
}
.ring8 .neptune{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;    
    border-radius: 50%;
    background-color: #315FC1;
    background: url("../img/neptune.png") no-repeat center;
    background-size: 125%;
    box-shadow: 0px 1px 30px 1px #315FC1;
    animation: rotate 2s linear infinite;
}



@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}